body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e2e;
    color: #c3c3e6;
}

h2, h3 {
    color: #bb86fc;
}

form {
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #2e2e4d;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(187, 134, 252, 0.5);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bb86fc;
    border-radius: 5px;
    background-color: #3a3a5c;
    color: #ffffff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6200ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}

.error {
    color: #ff5555;
    text-align: center;
}

product-list {
    margin: 20px;
}

.product-item {
    background-color: #2e2e4d;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #bb86fc;
    border-radius: 5px;
}
