.adminPic{
    
    height:50%;
    width:50px ;
    padding-left:25%;
}
.fieldset{
align-items: center;
background-color: blue;
}
.username{
    color:white;
}
.password{
    color:white;
}
.legend{
    color:white;
}
body{
    padding-top: 25%;
    padding-left:25%;
background-color:blueviolet;
}
.form{
    width:40%;
    align-content: center;
}